export AWS_SDK_LOAD_CONFIG=1
export BACKSTAGE_BACKEND_HOST=localhost
export BACKSTAGE_BACKEND_PORT=7007
export BACKSTAGE_FRONTEND_HOST=localhost
export BACKSTAGE_FRONTEND_PORT=3000
export GITHUB_TOKEN=${GITHUB_USER_TOKEN}
export OAUTH_CLIENT_ID=bbc5f7146c6949db1ce2
export OAUTH_CLIENT_SECRET=32360902d6c321a181afd3b8ee066b3920f255f6
export POSTGRES_HOST=$(docker compose port db 5432 | cut -d: -f1)
export POSTGRES_PASSWORD=postgres
export POSTGRES_PORT=$(docker compose port db 5432 | cut -d: -f2)
export POSTGRES_USER=postgres
# export S3_AWS_ACCESS_KEY_ID=ASIASFKUNG4GAEUXN7FB
# export S3_AWS_SECRET_ACCESS_KEY=3NCTRWrLZ2Kk5b/43ggih1B49P3yOFdPcE77CXgB
export S3_AWS_ROLE_ARN=arn:aws:iam::464201367303:role/OrganizationAccountAccessRole
[[ -f "./.envrc.local" ]] && source "./.envrc.local"
